AUTH_SECRET=ypVVXxUHSwYYIXuNIDvXKqRJpafzFTX1+xfm/XOMIh8
DATABASE_URL="postgresql://linostouch-db_owner:4jmlDSQqHJX8@ep-jolly-pine-a2nfl40k.eu-central-1.aws.neon.tech/linostouch-db?sslmode=require"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dkz07d5zt"
CLOUDINARY_API_SECRET="VYvEF9v11Wi3xZOaFWlQJdTpRJs"
NEXT_PUBLIC_CLOUDINARY_API_KEY=""

PAYSTACK_SECRET_KEY=""
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=


SMPT_EMAIL=
SMTP_GMAIL_PASS=""
